<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="General-Sanity-Suite">
    <test thread-count="1" name="Test">
        <classes>
            <class name="BaseTest.GetTaskAPI" />
            <class name="BaseTest.AddTaskAPI" />
        </classes>

    </test> <!-- Test -->
</suite> <!-- Suite -->
